.row, .col {
    border: 1px solid red;
}

.gal {
    height: 50vh;
}

.des-rel {
    height: 20vh;
}

.title-box {
    
}

.title {
    display: grid;
      border: 1px solid green;
      width: 50%;
}

.buy-box {
    display: grid;
      border: 1px solid green;
}

