.row, .col {
    border: 1px solid red;
}

.des-rel {
    height: 20vh;
}

.grid {
    display: grid;
    grid-area: 2/1;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    border: 1px solid green;
}

.gallery, .title, .buy-box {
    border: 1px solid green;
}


