.container {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}

.row, .col {
    border: 1px solid red;
}

/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    width: 100%;
    gap: 10px;
    border: 1px solid green;
} */

.main-sheet {
    width: 100%;
}

.gallery, .title, .buy-box {
    background-color: #4976bf;
}

.gallery {
    
}

.after-gallery {
    width: 50%;
    height: 100%;
}

.title-box {
    height: 100%;
    width: 100%;
    border: 1px solid green;
}

.title {

}

.buy-box {
    height: 40vh;
    border: 1px solid green;
}

.des, .rel {
    width: 100%;
    height: 20vh;
    background-color: #4976bf;
}